@media screen and (max-width: 780px) {
  header {
    background: url(Images/1.jpg) center no-repeat/cover;
    height: 140vh; }
    header .navbar a {
      color: #505050;
      font-size: 12px;
      text-transform: uppercase;
      display: none; }
      header .navbar a:hover {
        color: #10c9c3;
        text-shadow: 0px 0px 18px #35ba93;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: 0.5s all;
        -o-transition: 0.5s all;
        transition: 0.5s all; }
  #title {
    margin-top: 570px; }
    #title p {
      font-size: 18px;
      font-family: 'Nunito Sans', sans-serif;
      color: #878787;
      padding-left: 4px; }
  .mobilemenu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all; }
    .mobilemenu ul {
      margin: 0;
      padding: 20px 0; }
      .mobilemenu ul li {
        list-style: none; }
        .mobilemenu ul li a {
          display: block;
          padding: 20px 40px;
          text-transform: uppercase;
          font-family: "Montserrat",sans-serif;
          font-size: 15px;
          text-decoration: none; }
    .mobilemenu .openmenu {
      position: absolute;
      top: 0;
      left: 300px;
      display: block; }
  .active {
    left: 0; }
  #aboutus {
    margin-top: 100px;
    height: 35%; }
    #aboutus h1 {
      font-size: 30px; }
    #aboutus p {
      font-size: 16px;
      font-family: 'Nunito Sans', sans-serif;
      color: #787878;
      font-weight: bolder; }
  #ProfSkills {
    margin-top: 120px; }
    #ProfSkills .n1 {
      background-color: #f8f9f9;
      height: 450px; }
      #ProfSkills .n1 h1 {
        padding-left: 5%;
        padding-top: 20%;
        font-size: 30px; }
      #ProfSkills .n1 h4 {
        padding-left: 5%;
        font-size: 14px;
        padding-top: 35px;
        text-transform: uppercase; }
      #ProfSkills .n1 .progress {
        margin-left: 5%;
        height: 3px;
        width: 75%; }
      #ProfSkills .n1 .progress-bar {
        background-color: #10c9c3; }
    #ProfSkills .n2 {
      background-color: #e9e9e9;
      height: 350px; }
  #ProjectsNumber {
    background-color: #10c9c3;
    height: 250px; }
    #ProjectsNumber h4 {
      color: white;
      padding-top: 10px;
      font-size: 18px; }
    #ProjectsNumber p {
      text-transform: uppercase;
      color: white;
      font-size: 12px; }
  #carousels {
    margin-top: 150px;
    height: 500px;
    background-color: #10c9c3; }
  #footer {
    height: 285px;
    background-color: black;
    color: white; } }

@media screen and (max-width: 765px) {
  #carousels {
    margin-top: 700px;
    height: 500px;
    background-color: #10c9c3; } }

@media screen and (max-width: 515px) {
  #ProjectsNumber {
    background-color: #10c9c3;
    height: 450px; }
    #ProjectsNumber img {
      padding-top: 5px; }
    #ProjectsNumber h4 {
      color: white;
      padding-top: 10px;
      font-size: 18px; }
    #ProjectsNumber p {
      text-transform: uppercase;
      color: white;
      font-size: 12px; }
  #workprogress {
    height: 400px;
    background-color: white; }
    #workprogress h1 {
      padding-top: 20px;
      -webkit-animation: changecolor 2s infinite linear;
      animation: changecolor 2s infinite linear;
      font-size: 30px; }
    #workprogress p {
      font-size: 10px;
      color: #787878;
      font-family: 'Nunito Sans', sans-serif; }
    #workprogress img {
      width: 150px;
      margin-right: 40px; }
    #workprogress #video {
      height: 200px;
      background-color: #e9e9e9; }
  #carousels {
    margin-top: 700px;
    height: 200px;
    background-color: #10c9c3; }
    #carousels h1 {
      color: white;
      font-size: 10px;
      line-height: 20px; }
    #carousels p {
      padding-top: 5px;
      font-size: 12px;
      color: white;
      text-transform: uppercase; }
  #footer {
    height: 270px;
    background-color: black;
    color: white; }
    #footer h7 {
      font-size: 18px; }
    #footer p {
      font-size: 15px;
      font-family: 'Nunito Sans', sans-serif;
      color: #bcbcbc; }
    #footer a {
      font-size: 15px;
      font-family: 'Nunito Sans', sans-serif;
      color: #bcbcbc; } }

@media screen and (max-width: 350px) {
  #title {
    margin-top: 350px; }
    #title .btn {
      height: 40px; } }
